
img {
  width: 300px;
}

.header {
  background-color: #040507;
  color: #84693b;
}
 a {
   color: #84693b;
   text-decoration: none;
 }

 footer {
   text-align: center;
   background-color: #040507;
   color: #84693b;
 }

 li {
   list-style-type: none;
 }

 .pastMissImg {
   width: 75px;
 }
 