/* 
img {
  width: 300px;
} */

.header {
  background-color: #040507;
  color: #84693b;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
 a {
   color: #84693b;
   text-decoration: none;
 }

 .footer {
   display: flex;
   justify-content: center;
   text-align: center;
   background-color: #040507;
   color: #84693b;
 }

.tech-list {
  display: flex;
  justify-content: center;
}
.tech-list li {
  margin: 0 5px;
}

 li {
   list-style-type: none;
 }

 .pastMissImg {
   width: 157px;
   margin: 10% 33%;
 }
 

 .footer-img {
   width: 30px;
 }
 
 .spaceLogo {
   width: 177px;
 }

 .header-links {
   display: flex;
   justify-content: space-around;
 }

 .header-links a {
   margin: 0 5%;
 }

 .homepage-info {
   display: flex;
   justify-content: space-between;
   width: 80%;
   margin: 0 auto;
   align-items: center;
   margin-top: 4%;
 }

 .homepage-img {
   width: 25%;
   height: 25%;
   margin-left: 5%;
 }

 .rocket-img {
   width: 100%;

 }

 .rockets {
   border: 2px solid red;
 }

 .past-launches {
   border: 2px solid red;
 }

 .aboutMe-info {
   border: 2px solid red;
 }

 .about-space-info {
   border: 2px solid red;
 }

 .homepage-info {
   border: 2px solid red;
 }

 .homepage-video {
   border: 2px solid red;
   display: flex;
   justify-content: center;
   margin-top: 4%;
   margin-bottom: 2%;
 }

 .next-launch-info {
   width: 500px;
   margin-right: 2%;
   margin-top: 4%;
   text-align: center;
 }

 .contact-link-nav {
   display: flex;
   justify-content: space-evenly;
 }

 .past-launch-info {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
 }

 .past-launches {
   margin: 10px 10px;
 }

 .outer-rockets-div {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
 }

 .rockets-inner {
   margin: 10px 10px;
 }

 .rockets-inner {
   border: 2px solid red;
 }

 .about-space-info {
   width: 80%;
   margin: 0 auto;
   text-align: center;
 }

 .aboutMe-info {
   width: 68%;
   margin: 0 auto;
   display: flex;
   flex-flow: column;
   justify-content: center;
   text-align: center;
 }

 .aboutMe-img {
   margin: 0 20%;
   margin-top: 5%;
 }

 .created-using {
   padding-top: 6px;
 }

 .pastlaunch-buttons {
   display: flex;
   justify-content: space-evenly;
   margin-top: 10%;
   margin-bottom: 5%;
 }

 .past-section-info {
   text-align: center;
   margin: 0px 5%;
 }

 .rocket-text {
   text-align: center;
 }

 .rockets-readmore {
   display: flex;
   justify-content: center;
   margin-bottom: 9%;
 }

 .specs-ul {
   margin-left: -18%;
 }

 .aboutme-desc {
   margin: 0 5%;
 }

@media (max-width: 768px) {
  .next-launch-info {
    width: 500px;
    margin-top: 4%;
    margin: 0 4%;
  }

  .pastMissImg {
    width: 157px;
    margin: 10% 15%;
  }
} 

@media (max-width: 375px) {
  .header-links {
    flex-flow: row wrap;
  }

  .homepage-info {
    flex-flow: row wrap;
    text-align: center;
  }

  .homepage-img {
    width: 48%;
    height: 25%;
    margin: 9% 26%;
  }

  .contact-link-nav {
    margin-left: -20%;
  }

  .past-launch-info {
    display: flex;
    flex-flow: row wrap;
  }

  .pastMissImg {
    width: 157px;
    margin: 10% 28%;
  }

  .outer-rockets-div {
    display: flex;
    flex-flow: row wrap;
  }

  .contact-link-nav {
    margin-left: -12%;
  }
}
